---
- name: Install python packages for database management by ansible
  apt:
    name: "{{ influxdb_management_packages }}"
    state: present
  retries: 3
  delay: 5
  register: __register_influxdb_apt_python_packages
  until: __register_influxdb_apt_python_packages is succeeded

- name: Install influxdb
  apt:
    name: "{{ influxdb_package }}"
    state: present
  retries: 3
  delay: 5
  register: __register_influxdb_apt_influxdb
  until: __register_influxdb_apt_influxdb is succeeded

- name: Enable influxdb_service
  service:
    name: "{{ influxdb_service }}"
    enabled: yes
